.produtcs-pagination-button {
  width: 49px;
  height: 49px;
  border: 1px solid #212121;
}

.produtcs-pagination-button:hover {
  background-color: #212121;
  color: white;
}

.page-white {
  background-color: white;
  color: #212121;
}

.page-black {
  background-color: #212121;
  color: white;
}
