.card-myproduct {
  height: 150px;
}

.image-myproduct {
  width: 80px;
}

.name-myproduct {
  width: 400px;
}

.price-myproduct {
  width: 13%;
}

.status-myproduct {
  width: 20%;
}

.delete-myproduct {
  border: none;
  background-color: #d94141;
  color: white;
  font-size: 12px;
  width: 180px;
  height: 45px;
}

@media (max-width: 600px) {
  .image-myproduct {
    width: 50px;
  }
  .name-myproduct {
    font-size: 9px;
    width: 200px;
  }
  .status-myproduct {
    font-size: 15px;
    width: 20%;
  }

  .price-myproduct {
    width: 13%;
  }
  .delete-myproduct {
    width: 50px;
    height: 25px;
    font-size: 9px;
    position: relative;
    bottom: 7px;
  }
}
