@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.home-arimo-60{
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 87px;
}.home-arimo-50{
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
}
.home-arimo-13{
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 37px;
}
.header-color-black{
    color: black;
}
.header-navbar{
    display: flex;
    flex-direction: row;
    height: 85px;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    position: absolute;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;;
}
.header-navbar-1{
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;

    color: #1A1A1A;
    cursor: pointer;
}
.header-navbar-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #1A1A1A;
    cursor: pointer;
}
.header-navbar-2-content{
    width: 50px;
}
.header-navbar-3{
    display: flex;
    flex-direction: row;
    justify-content: left;
    column-gap: 30px;
}
.header-navbar-3-logo{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.jumbotron{
    background: url("../../assets/background/Jumbotron.png");
    height: 660px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 340px;
}
.jumbotron-title{
    padding-top: 100px;
    text-align: center;
}
.jumbotron-subtitle{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 60px;
}
.jumbotron-button{
    text-align: center;
    cursor: pointer;
}
.testimony{
    height: 600px;
    background-color: black;
    padding: 70px 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimony-message{
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.testimony-line{
    margin-bottom: 30px;

}
.testimony-person{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF; 
    margin-bottom: 100px;   
}
.testimony-image-container{
    display: flex;
    flex-direction: row;
    column-gap: 100px;
}
.testimony-image{
    height: 130px;
}

.card-container{
    display: flex;
    flex-direction: row;
    height: 550px;
}
.card-picture{
    height: 550px;
    width: 550px;
    object-fit: cover;
}
.card-details-container{
    display: flex;
    flex-direction: column;
    padding: 140px;
}
.card-name{
    margin-bottom: 20px;
}
.card-description{
    margin-bottom: 50px;
}
.card-shop{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card-shop-line{
    margin-right: 20px;
}
.card-shop-button{
    font-weight: bold;
    cursor: pointer;
}

/* Drop Down */

.dropbtn {
    border: none;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content-child {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.dropdown-content-child:hover {background-color: #c5c5c5;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown-content-child:active{background-color: #3f3e3e; color: white;}