.products-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.button-color {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
}

.product-button-fav {
  position: relative;
  bottom: 50px;
  left: 30px;
  background-color: black;
  border: 1px solid black;
  width: 110px;
  height: 35px;
  font-size: 10px;
  color: white;
}

.choco {
  background-color: #a17f25;
}

.purple {
  background-color: #504e86;
}
.blue {
  background-color: #6b8fbe;
}
.orange {
  background-color: #eea437;
}
.green {
  background-color: #4e8651;
}
.black {
  background-color: #49453d;
}

.filter-price {
  width: 65%;
  height: 50px;
  background-color: black;
  color: white;
}

.product-404 {
  margin-top: 100px;
}

.btn-link {
  background-color: white;
  width: 100px;
  height: 49px;
  border: 1px solid #212121;
  color: #212121;
  text-decoration: none;
}

.btn-link:hover {
  color: white;
  background-color: #212121;
}

.sort-by {
  cursor: pointer;
}

.dropdown-content {
  background-color: #212121;
  padding: 10px;
  color: white;
  font-size: 12px;
  width: 150px;
  position: absolute;
  z-index: 1;
}

@media (max-width: 600px) {
  .product-button-fav {
    top: 10px;
    left: -6px;
  }
}
